@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #fff;
}

.img {
    background-image: url("images/banner.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.nav-link {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: var(--text-color) !important;
    font-size: 18px;

}

.postion_absolute{
    width: 100%;
    height: 515px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background: linear-gradient(-1deg, rgba(2,0,36,1) 0%, rgba(1,1,1,0.4374124649859944) 50%);
    height: 100vh;
}

.index{
    z-index: 1 !important;
    position: relative;
}

.content_holder{
    /* width: 80%; */
    min-width: 200px; 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    z-index: 0;

}



.content_holder h1{
    font-size: 70px;
    color: #fff;
}

.content_holder h3{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}

 



@media screen and (max-width: 700px) {
    .mob-pad {
        padding: 0px 20px !important;
    }
    .content_holder h1{
        font-size: 30px;
        color: #fff;
        font-weight: bold;
    }
    
}

@media screen and (max-width: 1000px) {
    .nav-mobile {
        width: 100%;
        height: 80vh;
        justify-content: center;
        align-items: center;
        gap: 78px;
        transform: translateX(-1000px);
    }

    .pos-fix {
        position: fixed !important;
        z-index: 1;
    }

    .img {
        height: 100vh;
        position: fixed;
    }

   .close{
    background-image:url('images/close-image-1 (2).svg') !important;
   }

   
    .blur {
        background-image: url("images/banner.jpg");
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        filter: blur(3px);
        display: none;
      
    }



  
    .trans {
        transform: translateX(0);
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
      
    }

    .blur_trans {
        display: block;
        transition-duration: 2s;   
        background: linear-gradient(-1deg, rgba(2,0,36,1) 0%, rgba(1,1,1,0.4374124649859944) 50%);
    }

    .hero_content{
        display: none;
    }

}